* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    /* font-family: 'Unbounded', sans-serif; */
    background-color: #f0f0f0;
}

h1 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    margin-top: 20px;
    background-color: #ad171c;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: grey;
}

.header {

    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #ad171c;
    color: #fff;
    padding: 10px;
    text-align: center;
    /* z-index: 1; */
    display: flex;
    justify-items: center;

}

.nav-logo {
    display: flex;
    /* justify-items: center; */

}

.img-logo {
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;

    margin-left: 15px;
    /* Đặt khoảng cách bao quanh hình ảnh */
}



.nav-logo img {
    width: 40px;
    height: 40px;
    display: block;



}

.nav {
    display: flex;
    position: absolute;
    font-size: 20px;
    right: 200px;
}

.nav-element {
    margin: 15px 20px;
}

.avt-logo {
    display: flex;
    position: absolute;
    right: 30px;
    justify-items: center;
    margin-top: 6px;
}

.img-avt {
    background-color: #fff;
    border-radius: 50%;
    /* padding: 5px; */

    margin-left: 10px;
    /* Đặt khoảng cách bao quanh hình ảnh */
}

.avt-logo img {
    width: 40px;
    height: 40px;
    display: block;



}

.header-title {
    display: flex;
    font-size: 24px;
    margin-left: 30px;
    font-weight: 550;
    text-align: center;
}

.header-title a {
    display: flex;
    align-items: center;

}

.information {
    display: flex;
    width: 1100px;
    margin-top: 100px;
    margin-left: 20px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #ad171c;
    flex-direction: column;

}

.part {
    margin-bottom: 100px;
}

.zone {
    margin: 20px;
    width: 600px;
}

.zone input {
    width: 100%;
}

.student-information {
    padding: 20px;
}

.student-information label {
    display: block;
    margin: 5px 0px;
    font-weight: 600;
}

.question-container {
    display: none;
    padding: 10px;
    /* height: 1000px; */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 50px;
    margin-right: 400px;
    margin-left: 20px;

}

.question-information {
    display: none;
    position: fixed;
    left: auto;
    right: 30px;
    top: 100px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 2px solid #ad171c;
}

.test-name {
    margin: 30px 85px;
    font-size: 20px;
    font-weight: 600;
}

.test-time {
    display: flex;
    margin: 20px auto;
    width: 80px;
    height: 40px;
    background-color: #ad171c;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.question-information button {
    display: flex;
    margin: 30px auto;

}

.content {
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid #ad171c;
    padding: 10px;
    margin-bottom: 10px;
}

.grid-container {
    display: block;
    margin-top: 50px;
}


.row {
    display: flex;
    margin: 5px;
    /* padding: 10px; */
}

.grid-item {
    display: flex;
    width: 25px;
    height: 25px;
    background-color: #ad171c;
    font-size: 13px;
    color: #fff;
    margin: 2px;
    border-radius: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.grid-item:hover {
    cursor: pointer;
}

/* Question Container */

.question {
    font-weight: 600;
}

.answer {
    display: flex;
    /* background-color: #beb9b9; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(204, 41, 41, 1);
    margin-top: 30px;
}

.answer textarea {
    margin: 10px;
    font-size: 16px;
}

.true-or-false {
    display: flex;
    width: 50px;
    height: 30px;
    border: 2px solid #ad171c;
    cursor: pointer;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.answer-selection {

    display: flex;
    width: 30px;
    height: 30px;
    border: 2px solid #ad171c;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}


.question-picked {
    color: #ad171c;
}

.selected {
    background-color: #ad171c !important;
}